.hide-input-wrapper {
  border: 1px solid #aaaaaa;
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 6px;
  background: rgb(250, 250, 250);
  box-shadow: 4px 4px 0px rgb(175, 175, 175);
}

.hide-input-toggle {
  background: rgb(230, 230, 230);
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin-bottom: 0.5em;
  font-size: 0.85em;
}

.hide-input-toggle:hover {
  background: rgb(230, 230, 230);
}

html .md-typeset .admonition > :last-child, html .md-typeset details > :last-child {
    margin-top: .6rem;
    margin-bottom: .6rem;
}

[dir=ltr] .md-nav--secondary .md-nav__list {
    padding-left: 1.2rem;
}

.specsuite-text {
    font-weight: bold;
    font-family: monospace;
}

.function-name {
  font-weight: bold;
}

.parent-module {
  font-weight: lighter;
}

.description-label {
  font-weight: bold;
  font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.parameters-label {
  font-weight: bold;
  /* font-family: monospace; */
}

.function-header-wrapper {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  /* padding-left: 50px; */
  position: relative;
  font-size: 1.15em;
}

.variable-name {
  font-weight: bold;
}

.variable-type {
  color: darkred;
}

.variable-desc {
  padding-left: 20px;
}

.function-wrapper {
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.documentation-description {
  padding: 0px 20px;
}

.written-parameters-wrapper {
  padding: 0px 20px;
}

/* .written-parameters-content {
  padding: 0px 40px;
} */

.arg-var-name {
  font-style: italic;
}

.arg-default {
  font-style: italic;
  font-weight: lighter;
}

.underline {
  border-radius: 5px;
  display: block;
  height: 2px;
  background: #ffffff;
  background: linear-gradient(90deg,rgba(77, 77, 77, 1) 0%, rgba(255, 255, 255, 1) 30%);
  margin-bottom: 10px;
}

.hidden-heading {
    position: relative;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    /* Hide text but allow anchor scrolling */
    opacity: 0;
    pointer-events: none;
}

.function-code-source {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}