name: Deploy MkDocs

on:
  push:
    branches:
        - main
        - dev

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: |
          pip install \
            mkdocs \
            mkdocs-material \
            mkdocs-jupyter \
            pymdown-extensions

      - run: mkdocs gh-deploy --force
