name: Deploy MkDocs

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install specsuite dependencies
        run: |
            python -m pip install --upgrade pip
            pip install .
            pip install astropy joblib lxml matplotlib numpy pandas requests scipy tqdm

      - name: Install MKdocs dependencies
        run: |
          pip install \
            mkdocs \
            mkdocs-material \
            mkdocs-jupyter \
            pymdown-extensions

      - name: Deploy docs
        run: mkdocs gh-deploy --force
