name: Unit Tests

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install astropy joblib lxml matplotlib numpy pandas requests scipy tqdm

    - name: Test 'loading' functions
      run: |
        python tests/unit/test_loading.py

    - name: Test 'util' functions
      run: |
        python tests/unit/test_utils.py

    - name: Test 'warping' functions
      run: |
        python tests/unit/test_warping.py

    - name: Test 'throughput' functions
      run: |
        python tests/unit/test_throughput.py